@using WatchPontoWeb.Models
@model FiltroExtrato

<div class="row">
    <div class="col-md-12">
        <h2>Filtros</h2>
        <section id="loginForm">
            <form class="form-horizontal" method="post" role="form" novalidate="novalidate">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.PIS, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PIS, new { @class = "form-control", data_bind = "value: PIS" })
                        @Html.ValidationMessageFor(m => m.PIS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DataInicio, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DataInicio, new { @class = "form-control date-format", data_bind = "value: DataInicio" })
                        @Html.ValidationMessageFor(m => m.DataInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DataFim, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DataFim, new { @class = "form-control date-format", data_bind = "value: DataFim" })
                        @Html.ValidationMessageFor(m => m.DataFim, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Consultar" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Extrato de Ponto</h2>
        <section id="extrato-ponto">
            <div class="container-ocorrencias" data-bind="foreach: dadosExtrato">
                <div class="ocorrencia">
                    <div class="row">
                        <h3 data-bind="text: Dia"></h3>
                    </div>
                    <div class="row">
                        <table>
                            <thead>
                                <tr data-bind="foreach: Batidas">
                                    <th data-bind="text: Hora"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-bind="attr: {colspan: Batidas().length}">
                                        <ul data-bind="foreach: Quebras">
                                            <li data-bind="text: $data"></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}